{% extends "registration_template.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load bootstrap5 %}

{% block content %}
    <form method="post" class="mb-3 mt-md-4">
        {% csrf_token %}
        <h2 class="fw-bold mb-2 text-uppercase ">Exam management</h2>
        <h1>{% trans "Change your password" %}</h1>
        <p>{% trans "Enter your new password below" %}</p>
        {% include 'toast.html' %}
        {{ form|crispy }}
        <div class="d-grid">
            <input class="btn btn-outline-dark" type="submit" value="Change password" />
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
