<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    {% load i18n %}
    {% load keyvalue_action %}
    <p>{% trans "Hello," %}</p>

    <p>{% trans "We received a request to reset your password. Please click the following link to reset your password:" %}</p>

    <a href="{{ protocol }}://{{ domain }}{% customurl 'password_reset_confirm' uidb64=uid token=token %}">
        {% trans "Reset Password" %}
    </a>

    <p>{% trans "If you didn't request a password reset, you can safely ignore this email." %}</p>

    <p>{% trans "Best regards," %}<br>Exammanagement Team</p>
</body>
</html>
