{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    <div class="container mt-5">
        <div class="card text-center">
            <h5 class="card-header">
                {{ chapter.name }} - {{ chapter.subject.name}}
            </h5>
            <div class="card-body">
                <p class="card-text">{% trans "Total question" %}: {{ chapter.num_questions }}</p>
                <p class="card-text">{% trans "Time limt" %}: {{ chapter.time_limit }} {% trans "minutes" %}</p>
                <p class="card-text">{% trans "Minium correct answers" %}: {{ chapter.min_correct_ans }}</p>
                <a href="#" class="btn btn-primary">{% trans "Go test" %}</a>
            </div>
        </div>
    </div>
{% endblock %}
