{% extends "base_generic.html" %}
{% load i18n %}

{% block content %}
    {% if subject_list %}
        <div class="row gy-5">
            {% for subject in subject_list %}
                <div class="card m-3 col-6 w-18r" id="course-{{ subject.id }}">
                    <img src="/static/image/subject_bg.png" alt="..."  class="object-fit-cover">
                    <div class="card-body">
                        <h5 class="card-title">{{ subject.name }}</h5>
                        <p class="card-text">{{ subject.description }}</p>
                        <div class="d-flex justify-content-center">
                            {% if user.is_superuser %}
                                <button type="button" class="btn btn-danger me-1">{% trans "Delete" %}</button>
                            {% endif %}
                            <a href="{{ subject.get_absolute_url }}"><button type="button" class="btn btn-primary">{% trans "Detail" %}</button></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p>{% trans "No subjects" %}</p>
    {% endif %}
{% endblock %}
