{% extends "base_generic.html"%}
{% load i18n %}
{% load static %}
{% load keyvalue_action %}

{% block content %}
    <section class="profile-bg">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{% static 'image/avatar.png' %}" alt="avatar"
                            class="rounded-circle img-fluid w-150">
                            <h2 class="my-3">{{ user.username }}</h2>
                            <a href="#"><button class="btn btn-primary">{% trans "Edit profile" %}</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body" id="form-change">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{% trans "Username" %}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.username }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">{% trans "Email" %}</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4">{% trans "Enrolled Subjects Status" %}</p>
                                    {% for enroll in enrolled_subjects %}
                                        <p class="mb-1 fs-1r"><a class="text-decoration-none" href="{{ enroll.subject.get_absolute_url }}">{{ enroll.subject.name }}</a> - {{ enroll.subject|in_progress:user }}%</p>
                                        <div class="progress rounded h-20">
                                            <div class="progress-bar" style="width: {{ enroll.subject|in_progress:user }}% ;" role="progressbar" aria-valuenow="{{ enroll.subject|in_progress:user }}"
                                                aria-valuemin="0" aria-valuemax="100">
                                                {{ enroll.subject|in_progress:user }}%
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p>{% trans "Not enrolled any subject yet" %}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-4 mb-md-0">
                                <div class="card-body">
                                    <p class="mb-4">{% trans "Test history" %}</p>
                                    {% for test in tests %}
                                    <p class="mb-1 fs-1r"><a class="text-decoration-none" href="{{ test.get_absolute_url }}">{{ test.chapter.subject.name }} {{ test.chapter.name }}</a> - {{ test.total_score}} / {{ test.choice_set.all.count }}</p>
                                    <div class="progress rounded h-20">
                                        <div class="progress-bar" style="width: {{ test.total_score|in_percent:test.choice_set.all.count }}%;" 
                                        role="progressbar" 
                                        aria-valuenow="{{ test.total_score|in_percent:test.choice_set.all.count }}"
                                        aria-valuemin="0" aria-valuemax="100"
                                        >
                                        {{ test.total_score|in_percent:test.choice_set.all.count }}%
                                        </div>
                                    </div>
                                    {% empty %}
                                        <p>{% trans "Not make any test yet" %}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
