.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.subject-bg {
  background: url("/main/static/image/subject_bg.png") top left / cover
    no-repeat;
  min-height: 35vh;
  position: relative;
}

.w-18r {
  width: 18rem !important;
}

.w-150 {
  width: 150px !important;
}

.h-20 {
  height: 20px !important;
}

.fs-1r {
  font-size: 1rem !important;
}

.profile-bg {
  background-color: #eee !important;
}
